<!DOCTYPE html>
<html>
<head>
  <title> Student budget</title>
  <link rel="shortcut icon" href="styles/assets/coins.png">


  <link rel="stylesheet"
        href=
        "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity=
        "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="styles/register.css">

</head>
<body>

<br>
<br>
<br>
<div class="container" >
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6 main">

      <form action="/register" method="POST">

        <h1> Signup </h1>

        <input class="box" type="text" name="name" id="name"
               placeholder="Name"  required /><br>

        <input class="box" type="email" name="email" id="email"
               placeholder="E-Mail " required /><br>

        <input class="box" type="password" name="password"
               id="password" placeholder="Password " required/><br>

        <br>
        <input type="submit" id="submitDetails"
               name="submitDetails" value="Register" /><br>

      </form>

      <h2 class="or"> Or login by clicking the button below! </h2>
      <br>
      <br>
      <a class="login" href="/login"> Login </a>

    </div>


    <div class="col-md-3">
    </div>

  </div>
</div>
</body>
</html>