<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/Index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/dark-mode.css">
    <title>Student Budget</title>
</head>

<body>
<!--Nav Bar-->
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">Student Budget</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Overview <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/income">Income</a>
            <a class="nav-item nav-link" href="/expenses">Expenses</a>
            <a class="nav-item nav-link" href="/myprofile">My Profile</a>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch" />
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
        </div>
    </div>
</nav>
<!--End of Nav Bar-->


<!--Sidebar-->
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
            </button>
        </div>
        <div class="img bg-wrap text-center py-4" style="background-image: url(styles/assets/barchart.jpg);">
            <div class="user-logo">
                <div class="img" style="background-image: url(styles/assets/coins.png);"></div>
                <h3>ADMINISTRATOR</h3>
            </div>
        </div>

        <ul class="list-unstyled components mb-3">
            <li>
                <a href="/"><span class="fa fa-home mr-3"></span> Overview</a>
            </li>
            <li>
                <a href="/income"><span class="fa fa-download mr-3"></span> Income</a>
            </li>
            <li>
                <a href="/expenses"><span class="fa fa-money mr-3"></span> Expenses</a>
            </li>
            <li class="active">
                <a href="/settings"><span class="fa fa-cog mr-3"></span> Settings</a>
            </li>
            <li>
                <a href="/contact"><span class="fa fa-phone mr-3"></span> Contact</a>
            </li>
            <li>
                <a href="/sign_out"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
            </li>
        </ul>
        <div class="credits">
            <p><br>Copyright &copy; 2022 <br>Student Budget

                <br><br>Alexandros Michalmpeis</p>
        </div>
    </nav>
</div>
<!--End of Sidebar-->

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="/js/pie-chart-js.js"></script>
<script src="js/dark-mode-switch.min.js"></script>

</body>
</html>