body {
    background-image: url("assets/background-light.png");
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    height: 1666px;
    background: #ffffff;
    color: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative; }
#sidebar .h6 {
    color: #000; }
#sidebar.active {
    margin-left: -300px; }
#sidebar.active .custom-menu {
    margin-right: -50px; }
#sidebar.active .btn.btn-primary:before {
    content: "\f053";
    font-family: "FontAwesome";
    right: 2px !important; }
#sidebar.active .btn.btn-primary:after {
    display: none; }
#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px; }
#sidebar h1 .logo {
    color: #000;
    display: block;
    padding: 10px 30px;
    background: #9DD9F3; }
#sidebar ul.components {
    padding: 0; }
#sidebar ul li {
    font-size: 16px; }
#sidebar ul li > ul {
    margin-left: 10px; }
#sidebar ul li > ul li {
    font-size: 14px; }
#sidebar ul li a {
    padding: 15px 30px;
    display: block;
    color: #212121;
    border-bottom: 1px solid #e5e5e5; }
#sidebar ul li a span.notif {
    position: relative; }
#sidebar ul li a span.notif small {
    position: absolute;
    top: -3px;
    bottom: 0;
    right: -3px;
    width: 12px;
    height: 12px;
    content: '';
    background: red;
    border-radius: 50%;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 8px; }
#sidebar ul li a:hover {
    color: #000;
    background: #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
#sidebar ul li.active > a {
    background: transparent;
    color: #9DD9F3; }
#sidebar ul li.active > a:hover {
    background: #e5e5e5;
    border-bottom: 1px solid #e5e5e5; }
@media (max-width: 2000px) {
    #sidebar {
        margin-left: -300px; }
    #sidebar.active {
        margin-left: 0; }
    #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important; } }
#sidebar .custom-menu {
    display: inline-block;
    position: relative;
    top: 20px;
    right: 25px;
    margin-right: -35px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
#sidebar .custom-menu .btn.btn-primary {
    background: #9DD9F3;
    border-color: transparent;
    position: relative;
    color: #000;
    width: 30px;
    height: 30px; }
#sidebar .custom-menu .btn.btn-primary:after, #sidebar .custom-menu .btn.btn-primary:before {
    position: relative;
    top: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "FontAwesome";
    color: #000; }
#sidebar .custom-menu .btn.btn-primary:after {
    content: "\f054";
    left: 2px; }

#sidebar .credits {
    position: absolute;
    top: 770px;
    left: 3px;
}

.navbar {
    background-color: #e5e5e5;
}

#submitIncome {
    background-color: #9DD9F3;
    width: 100px;
}

#dropdownMenuButton1 {
    position: absolute;
    left: 30px;
    top: 15px;
    width: 500px;
    text-align: center;
    display: inline-block;
    background-color: #9DD9F3;
}

#dropdownMenuButton2 {
    position:absolute;
    left: 620px;
    top: 15px;
    width: 500px;
    text-align: center;
    display: inline-block;
    background-color: #9DD9F3;
}

#maximum-budget {
    position: absolute;
    left: 10px;
    top: 50px;
    width: auto;
    color: #212121;
}

#wrench {
    color: #2f89fc;
}

.income-box {
    background-color: #e5e5e5;
    position: absolute;
    left: 360px;
    top: 200px;
    width: 1100px;
    height: 550px;
    box-shadow: 0 0 30px #212121;
}

.buttons {
    background-color: #e5e5e5;
    position: absolute;
    left: 30px;
    top: 120px;
    width: 1150px;
    height: 80px;
    box-shadow: 0 0 30px #212121;
}

#pieChart {
    position: absolute;
    left: 300px;
    width: 800px;
    height: 560px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}